###
### Adapt these paths to your system
###

##Location of the VDR directory relative to the 
##location of Make.config (root directory of the plugin)
VDRDIR_RELATIVE = ../../..

##Base directory for files installed by this plugin.
##See hierarchy chart below
##You need to recompile for your changes to take effect!
BASEDIR    = /usr/local/vdr

##The directory prefix of DirectFB. 
##This is usually "/usr/local" if you compiled from source,
##or "/usr" if you installed a package from your distributor.
##DIRECTFB_ROOT = /usr/local
DIRECTFB_ROOT = /usr/

##The directory prefix of DFB++. 
##This is usually "/usr/local" if you compiled from source,
##or "/usr" if you installed a package from your distributor.
DFB++_ROOT = /usr/local


### ONLY ONE of the following Java implementations is needed!
### -> Currently it is SableVM, ignore Kaffe

##The root directory of SableVM
##If you have the directories "/usr/lib/sablevm"
##and "/usr/lib/sablevm-classpath", the root is "/usr".
##If SableVM-Classpath is in a different directory,
##you may specifiy a different SABLEVM_CLASSPATH_ROOT
SABLEVM_ROOT = /usr/local
##SABLEVM_CLASSPATH_ROOT = /usr

##The root directory of Kaffe.
##This is usually "/usr/local/kaffe" if you compiled from source,
##or "/usr/kaffe" or something like "/opt/kaffe-1.1.4" if you
##installed a package from your distributor. 
KAFFE_DIR = /usr/local/kaffe
##KAFFE_DIR = /opt/kaffe-1.1.4

###
###
###
###

##you normally do not need to edit anything below


### The C compiler and options:

##Specify "OPTLEVEL=0 make" to get better bt's with gdb
OPTLEVEL ?= 2

CC       ?= gcc
CFLAGS   ?= -g -O$(OPTLEVEL)

CXX      ?= g++
CXXFLAGS ?= -g -O$(OPTLEVEL) -Wall -Woverloaded-virtual -fPIC -DPIC

AR = ar
ARFLAGS = ru
RANLIB = ranlib


### Variables for plugin Makefile

##if there is a VDR Make.config, include it
##it is not required to be present, and might define PLUGINDIR, PLUGINLIBDIR, DVBDIR and VIDEODIR
-include $(VDRDIR)/Make.config
##Defaults from VDRs Make.config
PLUGINDIR ?= ./PLUGINS
PLUGINLIBDIR ?= $(PLUGINDIR)/lib
DVBDIR ?= ../DVB
VIDEODIR ?= /video
##now construct variables for the plugin Makefile
VDR_PLUGINLIBDIR = $(VDRDIR)/$(PLUGINLIBDIR)
VDR_DVBDIR = $(VDRDIR)/$(DVBDIR)

##To use VDRDIR in Makefiles, set PLUGINDIR_RELATIVE
VDRDIR = $(PLUGINDIR_RELATIVE)/$(VDRDIR_RELATIVE)
VDR_INCLUDES = $(VDRDIR)/include
PLUGIN_INCLUDES = $(PLUGINDIR_RELATIVE)
DVB_INCLUDES = $(VDR_DVBDIR)/include
   ##DVB includes are not necessary for Kernel 2.6
STANDARD_INCLUDE_OPTIONS = -I$(VDR_INCLUDES) -I$(PLUGIN_INCLUDES) -I$(DVB_INCLUDES)


### Installation directories

##This is the default directory tree needed:
##/usr/local/vdr _
##               |- /apps
##               |- /mhp _
##                        |- /lib
##                        |- /bin
##                        |- /data _
##                                  |- /fonts
##                        |- /jar
##


MHPDIR     = $(BASEDIR)/mhp

MHPLIBDIR  = $(MHPDIR)/lib
MHPBINDIR  = $(MHPDIR)/bin
MHPDATADIR = $(MHPDIR)/data
MHPJARDIR  = $(MHPDIR)/jar
MHPJARFILENAME = mhp.jar
MHPJARFILE = $(MHPJARDIR)/$(MHPJARFILENAME)
MHPFONTDIR = $(MHPDATADIR)/fonts

##The main library libmhpforvdr.so

MAIN_LIBRARYNAME = mhpforvdr
MAIN_LIBRARY = lib$(MAIN_LIBRARYNAME).so

## you need to put an -L ../.. in front of this (where ../..) is the path to the plugin's root directory)
## to link to the main library at compile time
MAIN_LIBS = -Wl,--rpath=$(MHPLIBDIR) -l$(MAIN_LIBRARYNAME)
MAIN_LIB_OPTIONS = -L$(PLUGINDIR_RELATIVE) $(MAIN_LIBS)


##this is the only directory here which can be changed by a command line option
LOCALAPPSDIR = $(BASEDIR)/apps

### DirectFB and DFB++ directories

DIRECTFB_LIBS = -ldirectfb
DIRECTFB_INCLUDES = $(DIRECTFB_ROOT)/include/directfb
DFB++_INCLUDES = $(DFB++_ROOT)/include/dfb++
DIRECTFB_INCLUDES_INTERNAL = $(DIRECTFB_ROOT)/include/directfb-internal
DIRECTFB_VERSION = $(shell $(DIRECTFB_ROOT)/bin/directfb-config --version)

COMPILE_DIRECTFB_BACKEND = YES

### SDL availability

HAVE_SDL = YES
##HAVE_SDL := $(shell  sdl-config --version && echo YES 2>&1 >/dev/null )
##ifeq ($(HAVE_SDL),YES)
##   SDL_LIBS = $(shell sdl-config --libs)
##   SDL_FLAGS = $(shell sdl-config --cflags)
##endif

### Kaffe directories

KAFFE_LIB  = $(KAFFE_DIR)/jre/lib
KAFFE_NATIVE = $(KAFFE_LIB)/i386
KAFFE_INCLUDES = $(KAFFE_DIR)/include
KAFFE_INCLUDES2 = $(KAFFE_DIR)/include/kaffe

### SableVM directories

SABLEVM_CLASSPATH_ROOT ?= $(SABLEVM_ROOT)
SABLEVM_DIR = $(SABLEVM_ROOT)/lib/sablevm
SABLEVM_SODIR = $(SABLEVM_ROOT)/lib
SABLEVM_INCLUDES = $(SABLEVM_DIR)/include
SABLEVM_NATIVE = $(SABLEVM_CLASSPATH_ROOT)/lib/sablevm-classpath
SABLEVM_LIB = $(SABLEVM_CLASSPATH_ROOT)/share/sablevm-classpath


### Java constants

##The virtual machine: "kaffe" or "sablevm".
##But "kaffe" is currently broken
##Move this to the top of this file
##as soon as there is real choice.
VM = sablevm

ifeq ($(VM),kaffe)

VM_INCLUDE_OPTIONS = -I$(KAFFE_INCLUDES) -I$(KAFFE_INCLUDES2)

VM_DEFINES = -DKAFFE_DIR=\"$(KAFFE_DIR)\" -DKAFFE_LIB=\"$(KAFFE_LIB)\" \
             -DKAFFE_NATIVE=\"$(KAFFE_NATIVE)\"
##use this to hardcode the path to kaffe libs in the dynamic lib
VM_LINK_PATH = -Wl,--rpath=$(KAFFE_NATIVE) -L$(KAFFE_NATIVE) -lkaffevm 
VM_CLASSPATH = $(KAFFE_LIB)/rt.jar

else 
ifeq ($(VM),sablevm)

##VM_INCLUDES = -I$(SABLEVM_INCLUDES)
VM_INCLUDE_OPTIONS = -DSABLEVM_JNI
VM_DEFINES = -DSABLEVM_SODIR=\"$(SABLEVM_SODIR)\" -DSABLEVM_NATIVE=\"$(SABLEVM_NATIVE)\" \
             -DSABLEVM_LIB=\"$(SABLEVM_LIB)\"
VM_LINK_PATH = -L$(SABLEVM_SODIR) -lsablevm
VM_CLASSPATH = $(SABLEVM_LIB)/libclasspath.jar:$(SABLEVM_LIB)/resources.jar

endif
endif

## EXTRA_CLASSPATH_SEPARATOR can be set as necessary
## See mhp/java/Makefile how to use this variable, with :=
EXTRA_CLASSPATH = $(EXTRA_CLASSPATH_PREFIX)/jmf.jar$(EXTRA_CLASSPATH_SEPARATOR)$(EXTRA_CLASSPATH_PREFIX)/asm-2.0.jar
## Default values, to be adapted as needed.
EXTRA_CLASSPATH_PREFIX = .
EXTRA_CLASSPATH_SEPARATOR = :
